<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CSS Colors - Markuply</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/lesson.css}">
</head>

<body class="cm-bg cm-page-shell">

    <header th:replace="~{lesson/fragment/navbar :: navbar}"></header>

    <div class="lesson-layout">
        <aside th:replace="~{lesson/fragment/sidebar :: sidebar}"></aside>

        <main class="lesson-main-content">
            <div class="lesson-card">
                <div id="lessonData">
                    <h1 class="cm-heading mb-4 lesson-title">CSS Colors</h1>
                    <p class="lead">Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA
                        values.</p>

                    <hr class="my-5">

                    <h2 class="cm-heading mb-3 lesson-section-title">Color Names</h2>
                    <p>In CSS, a color can be specified by using a predefined color name:</p>
                    <div class="row mb-4">
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded" style="background-color: Tomato;">Tomato
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded" style="background-color: Orange;">Orange
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded" style="background-color: DodgerBlue;">
                                DodgerBlue</div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded" style="background-color: MediumSeaGreen;">
                                MediumSeaGreen</div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded" style="background-color: Gray;">Gray</div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded" style="background-color: SlateBlue;">
                                SlateBlue</div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded" style="background-color: Violet;">Violet
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="p-3 text-white text-center rounded"
                                style="background-color: LightGray; color: black !important;">LightGray</div>
                        </div>
                    </div>

                    <hr class="my-5">

                    <h2 class="cm-heading mb-3 lesson-section-title">Background Color</h2>
                    <p>You can set the background color for HTML elements:</p>

                    <section class="lesson-example mb-4">
                        <div class="lesson-example-header">
                            <h3 class="lesson-example-title">Example:</h3>
                            <a class="btn btn-sm btn-cm-primary" th:href="@{/compiler}">Try it Yourself</a>
                        </div>
                        <div class="lesson-example-body">
                            <pre class="lesson-codeblock"><code>&lt;h1 style="background-color:DodgerBlue;"&gt;Hello World&lt;/h1&gt;
&lt;p style="background-color:Tomato;"&gt;Lorem ipsum...&lt;/p&gt;</code></pre>
                            <div class="lesson-html-context" style="display: none;">
                                <h1 style="background-color:DodgerBlue;">Hello World</h1>
                                <p style="background-color:Tomato;">Lorem ipsum...</p>
                            </div>
                        </div>
                    </section>

                    <hr class="my-5">

                    <h2 class="cm-heading mb-3 lesson-section-title">Text Color</h2>
                    <p>You can set the color of text:</p>

                    <section class="lesson-example mb-4">
                        <div class="lesson-example-header">
                            <h3 class="lesson-example-title">Example:</h3>
                            <a class="btn btn-sm btn-cm-primary" th:href="@{/compiler}">Try it Yourself</a>
                        </div>
                        <div class="lesson-example-body">
                            <pre class="lesson-codeblock"><code>&lt;h3 style="color:Tomato;"&gt;Hello World&lt;/h3&gt;
&lt;p style="color:DodgerBlue;"&gt;Lorem ipsum...&lt;/p&gt;</code></pre>
                            <div class="lesson-html-context" style="display: none;">
                                <h3 style="color:Tomato;">Hello World</h3>
                                <p style="color:DodgerBlue;">Lorem ipsum...</p>
                            </div>
                        </div>
                    </section>

                    <div th:replace="~{lesson/fragment/lesson-actions :: lesson-actions}"></div>
                </div>
            </div>
        </main>
    </div>

    <div th:replace="~{lesson/fragment/notes :: notes}"></div>
</body>

</html>