<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{lesson/fragment/lesson-layout :: main_layout(title='CSS Padding - Markuply', content=~{::#lessonData})}">
<body>
    <div id="lessonData">
                    <h1 class="cm-heading mb-4 lesson-title">CSS Padding</h1>
                    <p class="lead">The CSS <code>padding</code> properties are used to create space around an element's
                        content, inside of any defined borders.</p>

                    <hr class="my-5">

                    <h2 class="cm-heading mb-3 lesson-section-title">CSS Padding</h2>
                    <p>With CSS, you have full control over the padding. There are properties for setting the padding
                        for each side of an element (top, right, bottom, and left).</p>
                    <p>CSS has properties for specifying the padding for each side of an element:</p>
                    <ul class="mb-4" style="line-height: 1.8;">
                        <li><code>padding-top</code></li>
                        <li><code>padding-right</code></li>
                        <li><code>padding-bottom</code></li>
                        <li><code>padding-left</code></li>
                    </ul>

                    <section class="lesson-example mb-4">
                        <div class="lesson-example-header">
                            <h3 class="lesson-example-title">Example:</h3>
                            <a class="btn btn-sm btn-cm-primary" th:href="@{/compiler}">Try it Yourself</a>
                        </div>
                        <div class="lesson-example-body">
                            <pre class="lesson-codeblock"><code>div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}</code></pre>
                        </div>
                    </section>

                    <hr class="my-5">

                    <h2 class="cm-heading mb-3 lesson-section-title">Padding Shorthand Property</h2>
                    <p>To shorten the code, it is possible to specify all the padding properties in one property.</p>

                    <section class="lesson-example mb-4">
                        <div class="lesson-example-header">
                            <h3 class="lesson-example-title">Example:</h3>
                            <a class="btn btn-sm btn-cm-primary" th:href="@{/compiler}">Try it Yourself</a>
                        </div>
                        <div class="lesson-example-body">
                            <pre class="lesson-codeblock"><code>div {
  padding: 25px 50px 75px 100px;
}</code></pre>
                        </div>
                    </section>

                    <ul class="mb-4" style="line-height: 1.8;">
                        <li>top padding is 25px</li>
                        <li>right padding is 50px</li>
                        <li>bottom padding is 75px</li>
                        <li>left padding is 100px</li>
                    </ul>

                    <hr class="my-5">

                    <h2 class="cm-heading mb-3 lesson-section-title">Padding and Element Width</h2>
                    <p>The CSS <code>width</code> property specifies the width of the element's content area. The
                        content area is the portion inside the padding, border, and margin of an element (the box
                        model).</p>
                    <p>So, if an element has a specified width, the padding added to that element will be added to the
                        total width of the element. This is often an undesirable result.</p>

                    <section class="lesson-example mb-4">
                        <div class="lesson-example-header">
                            <h3 class="lesson-example-title">Example:</h3>
                            <a class="btn btn-sm btn-cm-primary" th:href="@{/compiler}">Try it Yourself</a>
                        </div>
                        <div class="lesson-example-body">
                            <pre class="lesson-codeblock"><code>div {
  width: 300px;
  padding: 25px;
}</code></pre>
                        </div>
                    </section>

                    <p>The <code>&lt;div&gt;</code> element above will have a total width of 350px (300px + 25px left
                        padding + 25px right padding).</p>

                    <div th:replace="~{lesson/fragment/lesson-actions :: lesson-actions}"></div>
                </div>
</body>
</html>
